files:
    "/etc/cron.d/oakcrime-worker":
        mode: "000644"
        owner: root
        group: root
        content: |
            * * * * * root /usr/local/bin/harvest.sh

    "/usr/local/bin/harvest.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/bin/bash

            # If OAKCRIME_WORKER is not defined, don't run.
            if [[ -z "$OAKCRIME_WORKER" ]]; then
              exit 0
            fi

            docker ps -a
            exec docker run --rm openoakland/oakcrime python manage.py harvestSocrata

commands:
    remove_old_cron:
        command: "rm -f /etc/cron.d/oakcrime-worker.bak"
