files:
    "/etc/cron.d/oakcrime-worker":
        mode: "000644"
        owner: root
        group: root
        content: |
            0 10 * * * root /usr/local/bin/harvestSocrata.sh

    "/etc/cron.d/oakcrime-worker":
        mode: "000644"
        owner: root
        group: root
        content: |
            10 10 * * * root /usr/local/bin/harvestPatrolLog.sh

    "/usr/local/bin/harvestSocrata.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/bin/bash

            # Load app envrionment
            eval "$(/opt/elasticbeanstalk/containerfiles/support/generate_env)"

            # If OAKCRIME_WORKER is not defined, don't run.
            if [[ -z "$OAKCRIME_WORKER" ]]; then
              exit 0
            fi

            # TODO aws_beanstalk/current-app is the default image name for the
            # application. If we build/publish the container in CI, we can give
            # this a better name, like openoakland/oakcrime
            exec docker run \
              --rm \
              --volume /var/log/eb-docker/containers/eb-current-app:/logs \
              --env-file <(/opt/elasticbeanstalk/containerfiles/support/generate_env) \
              aws_beanstalk/current-app \
              python manage.py harvestSocrata

    "/usr/local/bin/harvestPatrolLog.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/bin/bash

            # Load app envrionment
            eval "$(/opt/elasticbeanstalk/containerfiles/support/generate_env)"

            # If OAKCRIME_WORKER is not defined, don't run.
            if [[ -z "$OAKCRIME_WORKER" ]]; then
              exit 0
            fi

            # TODO aws_beanstalk/current-app is the default image name for the
            # application. If we build/publish the container in CI, we can give
            # this a better name, like openoakland/oakcrime
            exec docker run \
              --rm \
              --volume /var/log/eb-docker/containers/eb-current-app:/logs \
              --volume /public/media:/public/media \
              --env-file <(/opt/elasticbeanstalk/containerfiles/support/generate_env) \
              aws_beanstalk/current-app \
              python manage.py harvestPatrolLog

commands:
    remove_old_cron:
        command: "rm -f /etc/cron.d/oakcrime-worker.bak"
