argon2-cffi==19.2.0
boxsdk[jwt]==2.7.1
Django==3.0.14
django-amazon-ses==3.0.2
django-environ==0.4.5
djangorestframework==3.11.0
editdistance==0.4
future==0.17.1
geojson==2.4.1
gevent==1.4.0
googlemaps==3.0.2
gunicorn==19.9.0
mapbox==0.17.2
matplotlib==2.2.3
numpy==1.15.4
pdfquery==0.4.3
psycopg2-binary==2.7.6.1
python-dateutil==2.7.5
pytz==2018.7
sodapy==1.5.2
