{% extends "base.html" %}

{% load static %}

{% block title %} DailyIncidents {% endblock %}

{% block content %}

<h1 align=center>Visualizing Oakland Police Department <br> Daily Incident data</h1>

<p>If you have any questions about OakCrime.org, send a message to <a href="mailto:info@oakcrime.org?subject=LoginRequest">info@oakcrime.org</a>.  Please include which beat / NCPC you live in (cf. <a href="http://mapgis.oaklandnet.com/PoliceDistricts/">OPD District & Beat Locator</a>), and a description of your intended use of the facility, so we can plan accordingly. </p>

<ul>
	<li><h3><a href="/dailyIncid/heatmap/">Heatmap overview</h3></a> "Heatmap" of last 90 days
	      of crime.  Zoom map, select crime categories and date
	      range of interest, and zoom into questions of interest.
	      Heatmap gives way to individual markers for each crime
	      as you get a smaller set.
	</li>
	
	<li><h3><a href="/dailyIncid/query/">Plot <em>longitudinal data</em></a></h3> All data (since 2014) for a specific OPD "beat" 
	and one or two crime categories
	</li>

	<li><h3><a href="/dailyIncid/heatmap/gun/">Gun-related crimes</h3></a>Crimes involving guns, 			
		within the last 90 days, based on patrol daily log entries.
	</li>
		
	<!-- <li><h3><a href="/dailyIncid/getNCPC/">Neighborhood Crime Prevention Councils (NCPC)</h3></a> -->
	<!--   Reports supporting regular NCPC meetings -->
	<!-- </li> -->
		
	<li><h3>Plot recent incidents <em>near a geographic point on a map</em>:</h3>
	<p>All incidents within the last six months and within a 0.5 kilometer radius of the point of interested are plotted
	on a map.  "Major" crime incidents (<code>HOMOCIDE, SEX_RAPE, WEAPONS, ROBBERY, ASSAULT</code>) are plotted with red 
	markers; all other incidents are shown as green markers.</p>
		<ul>
		<li><h4><a href="/dailyIncid/choosePlace-BARTctr/">Incidents near an Oakland BART station</a></h4></li>
		<li><h4><a href="/dailyIncid/choosePlace-park4/">Incidents near a (District 4) Oakland park </a></h4></li>
		<li><h4><a href="/dailyIncid/nearhere/">Incidents near a specific location (with known longitude/latitude)</a></h4></li>
		</ul>
	
	</li>
	<li><h3>Or try out access to the data via our API:</h3>
	  <p>All queries begin with the same <code>oakcrime.org/dailyIncid</code> prefix, followed by one of three different strings:</p>
		<ul>
		<li><h4><a href="/dailyIncid/beatAPI/03X/"><code>beatAPI/03X/</code></a></h4>crimes from specified beat (eg <code>03X</code>); restricted to last two years</li>
		<li><h4><a href="/dailyIncid/crimeCatAPI/LARCENY_THEFT_VEHICLE_AUTO"><code>crimeCatAPI/LARCENY_THEFT_VEHICLE_AUTO</code></a></h4>crimes for some crime category (eg <code>LARCENY_THEFT_VEHICLE_AUTO</code>); restricted to last 6 months </li>
		<li><h4><a href="/dailyIncid/nearHereAPI/-122.265944_37.828199"><code>nearHereAPI/-122.265944_37.828199</code></a></h4>crimes within 500m of this longitude_latitude; restricted to last 6 months</li>
		</ul>
	</li>
</ul>

{% endblock %}
