<h1 id="installation">Installation</h1>
<ol style="list-style-type: decimal">
<li><p>System requirements</p>
<ul>
<li>python3</li>
<li>psql</li>
<li>django</li>
<li>additional django modules</li>
<!-- <li><strong>¡ 2do: pip freeze -&gt; requirements.txt or similar !</strong></li> -->
</ul></li>
<li><p>Install showCrime project</p></li>
<li><p>Start database server</p></li>
<li><p>Start django server</p></li>
<li><p>Install database</p>
<ol style="list-style-type: decimal">
<li>Build database somewhere</li>
</ol>
<ul>
<li>Building database is more memory intensive than using it</li>
</ul>
<ol style="list-style-type: decimal">
<li>use <code>psql \copy</code> or similar</li>
</ol></li>
</ol>
