{% extends "base.html" %}

{% load static %}

<link rel="stylesheet" href="https://mapzen.com/js/mapzen.css">
<script src="https://mapzen.com/js/mapzen.min.js"></script>

{% block title %} NearBART-MZ {% endblock %}

<meta charset="utf-8">

<style>
  #map {
    height: 100%;
    width: 100%;
    position: absolute;
  }
  html,body{margin: 0; padding: 0;}
</style>

{% block content %}

<h1 align=center>Near BART (mz)</h1>

<div id="map"></div>

<script>
  // Add a map to the 'map' div
  var map = L.Mapzen.map('map');
  // Set the center of the map to be the San Francisco Bay Area at zoom level 12
  map.setView([37.7749, -122.4194], 12);
</script>

{% endblock %}